.edit
  padding 20px
  &__page
    padding 12px
    display flex
    align-items center
    justify-content space-between
    span
      font-size 12px
.edit__fields
  & > .ivu-row
    &:nth-child(2)
      margin-top 20px
    &:first-child
      .ivu-col
        &:last-child
          text-align right
          .ivu-btn
            width 45%

