.card
  &__header
    text-align center
    //padding-top 15%
.content-card
  &__header
    padding-left 2%
    height 49px
    line-height 49px
    font-size 16px
    color #333
    border-bottom 1px solid #ddd
.edit__action
 .ivu-btn
   margin-left 78%
   padding-left 2.5%
   padding-right 2.5%
   &+.ivu-btn
    margin-left 2%
.footer
  text-align right
.demo-upload-list {
  display: inline-block;
  width: 115px;
  height: 115px;
  text-align: center;
  line-height: 115px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  margin-right: 4px;
  margin-left: 120px;
}
.demo-upload-list img {
  width: 100%;
  height: 100%;
}
.demo-upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.demo-upload-list:hover .demo-upload-list-cover {
  display: block;
}
.demo-upload-list-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
.ivu-icon-camera {
  line-height: 3.8;
}
.ivu-input-disabled::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:red !important;
}
.ivu-input-disabled::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:red;
}
.ivu-input-disabled:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:red;
}
.ivu-input-disabled:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:red;
}
.ivu-modal {
  top: 8.8% !important;
}
.mce-tinymce.mce-container{
  box-shadow: none;
  box-sizing: border-box;
  border-color: #dcdfe6;
  border-radius: 4px;
}
.mce-container .mce-panel{
  border-color: #dcdfe6;
}
.mce-container .mce-top-part::before{
  box-shadow: none;
}
.mce-container .mce-menubar{
  display: none;
}
.mce-btn-group .mce-listbox{
  border-color: #e2e4e7;
}
//.hidden-introduction-content
//  &:first-child
//    overflow hidden !important
//    white-space nowrap !important
//    text-overflow ellipsis !important
//    display block !important
//  img,video,span,p,.hidden-introduction-content:not(:first-child)
//    display none !important
